body{
    background-color: black;
    display:flex;
    justify-content:center;
    align-items:center;
}
.parent{
    transform-style: preserve-3d;
    perspective: 100px;
    height:300px;
    border:1px solid white;
    /* transform-origin:top left; */
    perspective-origin: BOTTOM RIGHT;
}
.child{
    width:200px;
    height:200px;
    background-color: red;
    color:white;
    text-align:justify;
    padding:10px;
    transform-origin: 500px 500px;
    animation:myanimation 2s infinite;
    transform:rotatex(0deg);
}

@keyframes myanimation{
    0%{
        transform:rotateX(0deg);
    }
    100%{
        transform: rotateX(360deg);
    }
}