body{
    width:100%;
    height:100svh;
    display: flex;
    align-items:center;
    justify-content: center;
    background-color:black;
}
.demo{
    width:150px;
    height:150px;
    background-color:white;
    border-radius:75px;
    animation:myanimation 3s linear infinite;
}
@keyframes myanimation{
    0%{
        box-shadow: 0px 0px 10px 10px grey;
    }
}