.cards-parent{
    display:flex;
    flex-wrap:wrap;
    gap:10px;
}
.cards-section{
    width:300px;
    height:400px;
    border:1px solid black;
    border-radius:15px;
    display:flex;
    flex-direction:column;
    align-items:center;
}
.image-section{
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
}
.image-section img{
    width:90%;
    height:300px;
    padding:10px;
    border-radius:30px;
}
.Info-section{
    width:100%;
    height:100px;
    justify-content:space-evenly;
    align-items:center;
    display:flex;
    flex-direction:column;
    font-size: 25px;
    font-weight: bold;
}