body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100svh;
  perspective: 1000px;
  background-color: black;
}

.cube {
  width: 150px;
  height: 150px;
  transform-style: preserve-3d;
  animation: myanimation 5s infinite linear;
  position: relative;
}

@keyframes myanimation {
  100% {
    transform: rotateY(360deg) rotateX(360deg);
  }
}

.cube > div {
  height: 200px;
  width: 200px;
  position: absolute;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 2px;
  padding: 2px;
  border: 1px solid white;
}


.front {
  transform: translateZ(100px);
  background-color: yellow;
}
.back {
  transform: translateZ(-100px);
  background-color: orangered;
}
.left {
  transform: rotateY(-90deg) translateZ(100px);
  background-color: red;
}
.right {
  transform: rotateY(90deg) translateZ(100px);
  background-color: green;
}
.top {
  transform: rotateX(90deg) translateZ(100px);
  background-color: blue;
}
.bottom {
  transform: rotateX(-90deg) translateZ(100px);
  background-color: white;
}


.cube > div > div {
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid black;
}
