.parent1{
    width:100%;
    height: 300px;
    background-color:red;
}
.parent2{
    width:100%;
    height: 300px;
    background-color:rgb(43, 255, 0);
    position:sticky;
    top:100px;
}
.child1{
    width:100px;
    height:100px;
    background-color: black;
}
.child2{
    width:100px;
    height:100px;
    background-color:blue;
}
.child3{
    width:100px;
    height:100px;
    background-color:violet;
}
.parent3{
    width:100%;
    height: 300px;
    background-color:rgb(170, 215, 35);
}