.first{
    width:250px;
    height:300px;
    background-color:rgb(5, 178, 178);
    border :3px solid black;
    position:absolute;
    z-index:2;
}
.second{
    width:250px;
    height:300px;
    background-color:rgb(144, 188, 188);
    border :3px solid rgb(164, 121, 121);
     position:absolute;
     top:70px;
     left:70px;
     z-index:1;
}
.third{
    width:250px;
    height:300px;
    background-color:rgb(31, 65, 65);
    border :3px solid black;
     position:absolute;
     top:100px;
     left:100px;
     z-index:4;
}