* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: white;
  line-height: 1.6;
  /* height:100svh; */
  /* overflow:hidden; */
}

header {
  position: fixed;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 40px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.image img {
  width: 100px;
  height: 30px;
  margin-left: 25px;
}

.search-field-container {
  position: absolute;
  top: 20px;
  left: 250px;
  width: 500px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: #e6f1f1;
}

.search-input {
  width: 100%;
  height: 100%;
  font-size: 16px;
  color: #333;
  outline: none;
  border: none;
  margin-left: 40px;
  background-color: transparent;
}

.search-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
  pointer-events: none;
}

.user {
  position: absolute;
  width: 120px;
  height: 50px;
  top: 20px;
  left: 770px;
}

.user img {
  width: 25px;
  height: 25px;
}

.user:hover {
  color: green;
  cursor: pointer;
}

.p1 {
  position: absolute;
  margin-left: 33px;
  font-weight: 600;
}

.fa-angle-down {
  position: absolute;
  margin-left: 85px;
  margin-top: 6px;
}

.cart img {
  width: 25px;
  height: 25px;
  margin-right: 400px;
}

.p2 {
  position: absolute;
  margin-left: 33px;
  font-weight: 600;
}

.cart {
  position: absolute;
  width: 120px;
  height: 50px;
  left: 890px;
  top: 20px;
}

.cart:hover {
  color: green;
  cursor: pointer;
}

.sellers img {
  width: 25px;
  height: 25px;
  margin-right: 400px;
}

.p3 {
  position: absolute;
  margin-left: 33px;
  font-weight: 600;
}

.sellers {
  position: absolute;
  width: 200px;
  height: 50px;
  left: 970px;
  top: 20px;
}

.sellers:hover {
  color: green;
  cursor: pointer;
}

.sec1 {
  height: 100svh;
  display: flex;
  align-items: center;
  background-color: rgb(247, 241, 241);
}

.sec1-1 {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.box-1 {
  height: 560px;
  width: 400px;
  margin-left: 20px;
  background-color: white;
  box-shadow: 20px 20px 20px rgb(247, 241, 241);
}

.box-2 {
  height: 560px;
  width: 400px;
  background-color: white;
  box-shadow: 20px 20px 20px rgb(247, 241, 241);
}

.box-3 {
  height: 560px;
  width: 400px;
  background-color: bisque;
  box-shadow: 2px 2px 10px rgb(247, 241, 241);
  position:relative;
}

.text-box {
  width: 100%;
  height: 50px;
  position: relative;
}

.header-4 {
  position: absolute;
  text-align: center;
  left: 30px;
  top: 30px;
}

.text-box p {
  position: absolute;
  left: 350px;
  top: 30px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  text-align: center;
  background-color: blue;
  color: white;
}
.images-box {
  height: 490px;
  width: 100%;
  margin-top: 20px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  box-sizing: border-box;
  padding: 10px;
  overflow: hidden; 
}

.grid-item {
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.imgs-1 {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.imgs-1 img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.product-name {
  width:100%;
  height:20%;
  font-size: 16px;
  text-align: start;
  display: flex;
  align-items: center;
  justify-content: start; 
  margin-top:40px;
} 

.offer {
  width:100%;
  height:20%;
  font-size: 14px;
  font-weight: bold;
  text-align: start;
  display: flex;
  margin-bottom:-10px;
  align-items: center;
  justify-content: flex-start;
} 

.offer.green {
  color: green;
  text-align:start;
}

h3{
  color:green;
  position:absolute;
  top:50px;
  left:30px;
  font-size:25px;
  line-height:30px;
}
.trend{
  position:absolute;
  color:grey;
  top:120px;
  left:30px;
  gap:30px;
}
.shop-btn {
  display: inline-block;
  background-color:rgb(33, 94, 33);
  color: #000;
  padding: 5px 20px;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
  font-size:15px;
  transition: background-color 0.3s;
  color:white;
  position:absolute;
  top:200px;
  left:15px;

}
.shop-btn:hover {
  background-color:green;
}

.images img{
  height:560px;
  width:100%;
}