.parent {
  width: 500px;
  height: 500px;
  background-color: rgb(99, 27, 206);
  border: 5px solid black;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
}

.child {
  width: 80px;
  height: 80px;
  background-color: rgb(185, 23, 23);
}

/* Row 1 */
.child1 {
  justify-self: center;
  align-self: center;
}
.child2 {
  justify-self: center;
  align-self: center;
}
.child3 {
  justify-self: start;
  align-self: center;
}

/* Row 2 */
.child4 {
  justify-self: center;
  align-self: center;
}
.child5 {
  justify-self: center;
  align-self: center;
}
.child6 {
  justify-self: start;
  align-self: center;
}

/* Row 3 */
.child7 {
  justify-self: center;
  align-self: center;
}
.child8 {
  justify-self: center;
  align-self: center;
}
.child9 {
  justify-self: start;
  align-self: center;
}
