.parent {
    width: 100%;
    height: 500px;
    border: 5px solid black;
    display: grid;
    font-size:40px;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 2fr 1fr 2fr;
    background-color:orange;
    /* gap:20px; */
}
.child{
    border:2px solid black;
}
/* .child1, .child2, .child3, .child4 {
    background-color: rgb(37, 82, 82);
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5rem;
} */
