body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #cfd89e;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

.character-container {
    position: relative;
    width: 250px;
    height: 480px;
}

.head {
    height: 120px;
    width: 120px;
    background-color: #ffe0bd;
    border-radius: 50% 50% 40% 40%;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
}

.hair {
    position: absolute;
    top: -15px;
    width: 100%;
    height: 50px;
    background-color: black;
    border-radius: 50% / 100%;
    overflow: hidden;
    z-index: 6;
}

.hair::before,
.hair::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
}

.hair::before {
    left: 10px;
}

.hair::after {
    right: 10px;
}

.ear {
    position: absolute;
    width: 25px;
    height: 35px;
    background-color: #ffe0bd;
    border-radius: 50%;
    top: 75px;
    z-index: 4;
    border: 1px solid rgba(0,0,0,0.2);
}

.left_ear {
    left: 45px;
}

.right_ear {
    right: 45px;
}

.left_eye,
.right_eye {
    height: 30px;
    width: 25px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left_eye {
    left: 20px;
    top: 50px;
}

.right_eye {
    left: 75px;
    top: 50px;
}

.eye_ball {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: black;
}

.nose {
    width: 10px;
    height: 10px;
    background: rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 50%;
    top: 85px;
    transform: translateX(-50%);
    border-radius: 50%;
}

.mouth {
    position: absolute;
    width: 40px;
    height: 15px;
    background-color: #f08080;
    border-bottom-left-radius: 50% 100%;
    border-bottom-right-radius: 50% 100%;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
}

.neck {
    width: 40px;
    height: 25px;
    background-color: #ffe0bd;
    position: absolute;
    top: 130px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    z-index: 3;
}

.body {
    width: 150px;
    height: 190px;
    background-color: #78d4a9;
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    z-index: 2;
    overflow: hidden;
}

.shirt_collar {
    width: 80%;
    height: 15px;
    background-color: white;
    border-bottom: 2px solid rgba(0,0,0,0.1);
    position: absolute;
    top: 0;
    left: 10%;
    border-radius: 5px 5px 0 0;
    z-index: 3;
}

.line-1 {
    display: none;
}

.button {
    width: 8px;
    height: 8px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid rgba(0,0,0,0.2);
    z-index: 4;
}

.button-1 { top: 30px; }
.button-2 { top: 45px; }
.button-3 { top: 60px; }
.button-4 { top: 75px; }
.button-5 { top: 90px; }

.pocket {
    width: 35px;
    height: 40px;
    border: 2px solid white;
    position: absolute;
    right: 15px;
    top: 25px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    z-index: 4;
}

.belt {
    width: 100%;
    height: 15px;
    background-color: #59c9e8;
    position: absolute;
    top: 115px;
    left: 0;
    border-top: 2px solid rgba(0,0,0,0.2);
    border-bottom: 2px solid rgba(0,0,0,0.2);
    box-sizing: border-box;
    z-index: 3;
}

.strip-1, .strip-2, .strip-3, .strip-4 {
    display: none;
}

.shorts_section {
    width: 100%;
    height: 75px;
    background-color: #b4218b;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 0 0 10px 10px;
}

.arm {
    position: absolute;
    width: 30px;
    height: 100px;
    background-color: #ffe0bd;
    border-radius: 15px;
    z-index: 1;
    top: 190px;
    transform-origin: top center;
}

.left-arm {
    left: 30px;
    transform: rotate(20deg);
}

.right-arm {
    right: 30px;
    transform: rotate(-20deg);
}

.hand {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #ffe0bd;
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,0.1);
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    box-sizing: border-box;
    overflow: hidden;
}

.palm {
    display: none;
}

.finger {
    width: 8px;
    height: 25px;
    background-color: #ffe0bd;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 0 0 5px 5px;
    position: absolute;
    bottom: 0;
}

.finger-1 { left: 5px; transform: rotate(10deg); }
.finger-2 { left: 15px; }
.finger-3 { left: 25px; }
.finger-4 { left: 35px; transform: rotate(-10deg); }

.leg {
    width: 40px;
    height: 140px;
    background-color: #ffe0bd;
    border-radius: 5px;
    position: absolute;
    top: 320px;
    z-index: 0;
}

.left-leg {
    left: 70px;
}

.right-leg {
    right: 70px;
}

.sock {
    width: 100%;
    height: 25px;
    background-color: white;
    position: absolute;
    bottom: 25px;
    border-top: 2px solid rgba(0,0,0,0.1);
}

.shoe {
    width: 50px;
    height: 30px;
    background-color: black;
    border-radius: 0 0 15px 15px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-bottom-right-radius: 25px;
}