body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: white;
}

.character {
  position: relative;
  width: 300px;
}

/* Head */
.head {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border: 3px solid black;
}

/* Eyes */
.left_eye,
.right_eye {
  height: 15px;
  width: 25px;
  border-radius: 60%;
  position: absolute;
  background-color: white;
  border: 2px solid black;
}

.left_eye {
  left: 12px;
  top: 30px;
}

.right_eye {
  left: 57px;
  top: 30px;
}

.eye_ball1,
.eye_ball2 {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: black;
  position: relative;
  top: 5px;
}

.eye_ball1 {
  left: 7px;
}

.eye_ball2 {
  left: 8px;
}

/* Nose */
.nose {
  width: 3px;
  height: 15px;
  background: white;
  position: absolute;
  left: 45px;
  top: 48px;
  border: 3px solid black;
  border-radius: 20px;
}

/* Mouth */
.mouth {
  position: absolute;
  width: 30px;
  height: 15px;
  border-bottom: 3px solid black;
  border-radius: 0 0 30px 30px;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
}

/* Neck */
.neck {
  width: 35px;
  height: 35px;
  background: white;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  border: 3px solid black;
}

/* Body */
.body {
  width: 120px;
  height: 170px;
  position: absolute;
  top: 135px;
  left: 50%;
  transform: translateX(-50%);
  border: 3px solid black;
  border-radius: 15px;
}

/* Buttons */
.line-1 {
  width: 2.5px;
  height: 100%;
  background-color: rgb(71, 69, 69);
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

.button-1, .button-2, .button-3, .button-4, .button-5 {
  width: 6px;
  height: 6px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.button-1 { top: 30px; }
.button-2 { top: 60px; }
.button-3 { top: 90px; }
.button-4 { top: 120px; }
.button-5 { top: 150px; }

/* Pocket */
.pocket {
  width: 20px;
  height: 20px;
  border: 3px solid black;
  position: absolute;
  left: 80px;
  top: 20px;
  border-radius: 5px;
}

/* Belt */
.belt {
  width: 100%;
  height: 5px;
  border: 2px solid black;
  position: absolute;
  top: 120px;
  left: -1px;
  border-radius: 5px;
}

.strip-1, .strip-2, .strip-3, .strip-4 {
  width: 1px;
  height: 100%;
  position: absolute;
  border: 1.5px solid black;
}

.strip-2 { left: 30px; }
.strip-3 { left: 70px; }
.strip-4 { left: 100px; }

/* Hands */
.hand {
  width: 80px;
  height: 20px;
  border: 3px solid black;
  position: relative;
  top:-130px;
  right:60px;
}

.palm-1 {
  width: 30px;
  height: 30px;
  position: relative;
  border: 3px solid black;
  top:-8px;
  left:-25px;
}
.hand-1 {
  width: 80px;
  height: 20px;
  border: 3px solid black;
  position: relative;
  top:-128px;
  right:-60px;
}
.finger-1{
  width:8px;
  height:20px;
  border:2px solid black;
  position:relative;
  top:-65px;
  left:-5px;
  border-radius:20px;
}
.finger-2{
  width:25px;
  height:5px;
  border:2px solid black;
  position:relative;
  border-radius:20px;
  top:-68px;
  left:-50px;
}
.finger-3{
  width:35px;
  height:5px;
  border:2px solid black;
  position:relative;
  border-radius:20px;
  top:-69px;
  left:-60px;
}
.finger-4{
  width:25px;
  height:5px;
  border:2px solid black;
  position:relative;
  border-radius:20px;
  top:-69px;
  left:-50px;
}
.finger-5{
  width:20px;
  height:5px;
  border:2px solid black;
  position:relative;
  border-radius:20px;
  top:-68px;
  left:-45px;

}
.palm-2 {
  width: 30px;
  height: 30px;
  position: relative;
  border: 3px solid black;
  left:70px;
  top:-7px;
} .finger-6{
  width:8px;
  height:20px;
  border:2px solid black;
  position:relative;
  border-radius:20px;
  top:-25px;
} 
.finger-7{
  width:25px;
  height:5px;
  border:2px solid black;
  position:relative;
  border-radius:20px;
  top:-25px;
  left:30px;
}
.finger-8{
  width:35px;
  height:5px;
  border:2px solid black;
  position:relative;
  border-radius:20px;
  top:-24px;
  left:30px;
}
.finger-9{
  width:25px;
  height:5px;
  border:2px solid black;
  position:relative;
  border-radius:20px;
  top:-25px;
  left:30px;
}
.finger-10{
  width:20px;
  height:5px;
  border:2px solid black;
  position:relative;
  border-radius:20px;
  top:-25px;
  left:30px;
}
.leg{
  width:20px;
  height:100px;
  border:3px solid black;
  position:relative;
  left:-120px;
  top:70px;
}