.mobile-options{
    /* border:3px solid blue; */
    display:flex;
    flex-direction:column;
    height:100svh;
    width:200px;
    background-color:red;
    /* align-items: end; */
    position:absolute;
    left:0px;
    top:0px;
    transition:left .1s linear;
}
.mobile-options div{
    border-bottom:2px solid white;
    cursor: pointer;
    padding:10px 0px;
}
.mobile-options div:hover{
    background-color:black;
     border-radius:2px;
}
.wrong{
    /* width:fit-content; */
    font-size:30px;
    text-align:right;
    width:100%;
}
.menu{
    color:black;
}
.menu{
    cursor:pointer;
}