.My_div{
    width:1000px;
    height:800px;
    border:2px solid rgb(255, 0, 0);
    /* background-color:rgb(25, 71, 19); */
    background-image:url("./leetcode.png");
    background-repeat:no-repeat;
}
