/* box shadow */
/* .fourth {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    box-shadow: 3px 3px 15px 2px  black;
    background-color: aquamarine;
} */
 body{
    background-color: black;
    justify-content: CENTER;
    display: flex;
    align-items: CENTER;
 }
/* text-shadow */
.fifth{
    position:relative;
    top:150px;
    width:500px;
    height:350px;
    font-size:60px;
    color:rgb(186, 230, 27);
    text-shadow:0px 0px 25px rgb(58, 135, 139);
}