body {
  font-family: 'Segoe UI', sans-serif;
background: linear-gradient(135deg, #f3ec78, #af4261, #1fa2ff);
  background-size: 200% 200%;
  animation: gradientBG 8s ease infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  width: 340px;
  background: linear-gradient(145deg, #7af787, #def052);
  border-radius: 25px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
  padding: 35px 25px;
  text-align: center;
  transition: transform 0.4s ease;
}


.picture {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin: 0 auto 20px;
  display: block;
  border: 4px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.name {
  font-size: 26px;
  font-weight: bold;
  color: #222;
}

.title {
  font-size: 16px;
  color: #dc1313;
  margin-bottom: 20px;
}

.socials {
  margin-bottom: 25px;
}

.socials a {
  margin: 0 12px;
  color: #333;
  font-size: 20px;
}

.socials a:hover {
  color: #0072b1;
}

.info {
  text-align: left;
  font-size: 14.5px;
  color: #555;
  line-height: 1.8;
  padding: 0 10px;
}

.info strong {
  display: inline-block;
  width: 80px;
  color: #222;
}
